{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Avem3D Site Administration{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Avem3D Site Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{# Add custom CSS for admin overrides #}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_overrides.css' %}">
{% endblock %}

{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %} 